github.com:
    user: kowwwwji
    git_protocol: https
    users:
        kowwwwji:
        movus-koji-sakamoto:
            oauth_token: {{ onepasswordRead "op://Work/GitHub Personal Access Token -all/token" }}
