  [[plugins]]
  repo = 'Shougo/dein.vim'

# ヘルプ日本語化
  [[plugins]]
  repo = 'vim-jp/vimdoc-ja'

# 選択したコードを実行できる
  [[plugins]]
  repo = 'thinca/vim-quickrun'

  [[plugins]]
  repo = 'editorconfig/editorconfig-vim'

  [[plugins]]
  repo = 'majutsushi/tagbar'
  hook_add = '''
    source ~/.config/nvim/plugins/tagbar.vim
  '''

  [[plugins]]
  repo = 'vim-airline/vim-airline'
  hook_add = '''
    source ~/.config/nvim/plugins/vim-airline.vim
  '''
  [[plugins]]
  repo = 'vim-airline/vim-airline-themes'

# カッコ系
  [[plugins]]
  repo = 'tpope/vim-endwise'
  [[plugins]]
  repo = 'tpope/vim-surround'
  [[plugins]]
  repo = 'cohama/lexima.vim'

# テーブル系
  [[plugins]]
  repo = 'godlygeek/tabular'
  hook_add = '''
    source ~/.config/nvim/plugins/tabular.vim
  '''
  [[plugins]]
  repo = 'dhruvasagar/vim-table-mode'

#####################################
# 補完機能
#####################################
#  [[plugins]]
#  repo = 'neoclide/coc.nvim'
#  rev = 'release'

# # 非同期コードチェッカー
#   [[plugins]]
#   repo = 'w0rp/ale'

# Syntax checker
  # [[plugins]]
  # repo = 'scrooloose/syntastic'
  # hook_add = '''
  #   set statusline+=%#warningmsg#
  #   set statusline+=%{SyntasticStatuslineFlag()}
  #   set statusline+=%*
  #   let g:syntastic_always_populate_loc_list = 1
  #   let g:syntastic_auto_loc_list = 1
  #   let g:syntastic_check_on_open = 1
  #   let g:syntastic_check_on_wq = 0
  #   let g:syntastic_ruby_checkers=['rubocop', 'mri']
  # '''

# 移動
  [[plugins]]
  repo = 'easymotion/vim-easymotion'
  [[plugins]]
  repo = 'haya14busa/vim-edgemotion'

# サイドバー
  [[plugins]]
  repo = 'scrooloose/nerdtree'
  hook_add = '''
    source ~/.config/nvim/plugins/nerdtree.vim
  '''
  [[plugins]]
  repo = 'ryanoasis/vim-devicons'
  [[plugins]]
  repo = 'Xuyuanp/nerdtree-git-plugin'
  [[plugins]]
  repo = 'tiagofumo/vim-nerdtree-syntax-highlight'

  [[plugins]]
  repo ='junegunn/fzf'
  build = './install --all'
  merged =  0
  hook_add = '''
    " for Files
    let $FZF_DEFAULT_COMMAND = 'ag --hidden --ignore .git -g ""'
    " for Ag
    autocmd VimEnter * command! -bang -nargs=* Ag
      \ call fzf#vim#ag(<q-args>, '--hidden --ignore .git', <bang>0)
  '''
  [[plugins]]
  repo ='junegunn/fzf.vim'
  depends = 'fzf'
  hook_add = '''
    nnoremap <silent> <Leader>s :Ag<CR>
    nnoremap <silent> <Leader>f :GFiles<CR>
    nnoremap <silent> <Leader>l :BLines<CR>
    nnoremap <silent> <Leader>h :History<CR>
    "" nnoremap <silent> <Leader>m :Mark<CR><Paste>
    nnoremap <silent> <Leader>m :Map<CR>
    nnoremap <silent> <Leader>b :Buffer<CR>
  '''
 # [[plugins]]
 # repo = 'Shougo/denite.nvim'
 # hook_add = '''
 #   source ~/.config/nvim/plugins/denite.vim
 # '''

# Git操作
  [[plugins]]
  repo = 'tpope/vim-fugitive'
  hook_add = '''
    nnoremap [GitLeader]    <Nop>
    nmap     <Space>g [GitLeader]

    nnoremap <silent> [GitLeader]c :Git commit -v<CR>
    nnoremap <silent> [GitLeader]a :Gwrite<CR>
    nnoremap <silent> [GitLeader]s :Git<CR><C-w>T
    nnoremap <silent> [GitLeader]b :Gblame<CR>
    nnoremap <silent> [GitLeader]f :GFiles?<CR>
    nnoremap <silent> [GitLeader]d :Gvdiffsplit<CR>
    nnoremap <silent> [GitLeader]C :Commits<CR>
    nnoremap <silent> [GitLeader]l :Git log<CR>

    highlight DiffAdd    cterm=bold ctermfg=10 ctermbg=22
    highlight DiffDelete cterm=bold ctermfg=10 ctermbg=52
    highlight DiffChange cterm=bold ctermfg=10 ctermbg=17
    highlight DiffText   cterm=bold ctermfg=10 ctermbg=21
  '''
  [[plugins]]
  repo = 'tpope/vim-rhubarb'
  depends = 'tope/vim-fugitive'

# iTerm2の設定を変える必要あり
# https://qiita.com/satosystems/items/81e292ab2af12249ed8b#%E3%82%AF%E3%83%AA%E3%83%83%E3%83%97%E3%83%9C%E3%83%BC%E3%83%89%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E8%A8%B1%E5%8F%AF%E8%A8%AD%E5%AE%9A
  [[plugins]]
  repo = "tpope/vim-commentary"
  hook_add = '''
    vnoremap <silent> <D-_> :Git log<CR>
  '''


  [[plugins]]
  repo = 'mbbill/undotree'
  hook_add = '''
    let g:undotree_WindowLayout = 4
    let g:undotree_SetFocusWhenToggle = 1
    nnoremap <Leader>r :UndotreeToggle<CR>
  '''

  [[plugins]]
  repo = 'glidenote/memolist.vim'
  hook_add = '''
    let g:memolist_path = "~/GoogleDrive/memo"
    nnoremap <Leader>mn :MemoNew<CR>
    nnoremap <Leader>ml :MemoList<CR>
    nnoremap <Leader>mg :MemoGrep<CR>
  '''

## LSP関連
  [[plugins]]
  repo = 'prabirshrestha/asyncomplete.vim'
  [[plugins]]
  repo =  'prabirshrestha/asyncomplete-lsp.vim'
  [[plugins]]
  repo =  'prabirshrestha/vim-lsp'
  hook_add = '''
    source ~/.config/nvim/plugins/vim-lsp.vim
  '''
  [[plugins]]
  repo =  'mattn/vim-lsp-settings'
  [[plugins]]
  repo =  'mattn/vim-lsp-icons'
  [[plugins]]
  repo =  'hrsh7th/vim-vsnip'
  [[plugins]]
  repo =  'hrsh7th/vim-vsnip-integ'

## 翻訳
  [[plugins]]
  repo = 'skanehira/translate.vim'
  hook_add = '''
    let g:translate_source = "en"
    let g:translate_target = "ja"
  " let g:translate_popup_window = 0 " if you want use popup window, set value 1
    let g:translate_winsize = 5 " set buffer window height size if you doesn't use popup window

    nnoremap <silent> <Leader>t :Translate<CR>
    nnoremap <silent> <Leader>T :!Translate<CR>
    vnoremap <silent> <Leader>t :Translate<CR>
    vnoremap <silent> <Leader>T :!Translate<CR>

    nnoremap <silent> <Esc><Esc><Esc> :bw translate://result<CR>
  '''

