[include]
  path = ~/.config/.gitconfig.local
[core]
  editor = vi
  excludesfile = ~/.gitignore
[ghq]
  root = ~/.ghq
[alias]
##################
# 基本コマンド
##################
  st = status
  cm = commit
  cma = commit --amend
  co = checkout
  cb = checkout -b
  b = branch
  bv = branch -vv
  bva = branch -vva
  see = browse
  st = status

##################
# 複合コマンド
##################
  delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop|gh-pages$' | xargs -I % git branch -d %
  delete-gone-branches = !git branch --format '%(refname:short) %(upstream:track)' | grep 'gone' | cut -d ' ' -f1 | xargs -I % git branch -D %
  ls = log --graph --pretty=format:'%Cred%h %Cgreen(%>(12,trunc)%cr, %ci) %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %s' --abbrev-commit --date=relative --all
  wip = !git add --all && git commit -m 'wip'
  base = !git show-branch | grep '*' | grep -v "$(git rev-parse --abbrev-ref HEAD)" | head -1 | awk -F'[]~^[]' '{print $2}'

# WIPブランチを作成してPRを作成する
  start = !"f () {\
    DEFAULT_BRANCH=`git remote show origin | grep 'HEAD branch' | awk '{print $NF}'`; \
    NEW_BRANCH=$1;\
    \
    if [ -z $1  ]; then\
      echo 'Use Now branch as feature branch.';\
      BASE_BRANCH=`git base`;\
      NEW_BRANCH=`git rev-parse --abbrev-ref @`;\
    else\
      BASE_BRANCH=`git rev-parse --abbrev-ref @`;\
    fi;\
    \
    if [ \"$BASE_BRANCH\" = $DEFAULT_BRANCH ]; then echo '🔥ATTENTION!! you are trying to make branch from ['$DEFAULT_BRANCH']🔥'; fi;\
    read -p 'You want to make Base Branch:'$BASE_BRANCH' -> New Branch:'$NEW_BRANCH'? (y/n)  ' yn;\
    case $yn in\
      [yY]* ) echo 'OK! Lets Start!!';;\
      * ) exit 1;;\
    esac;\
    \
    if [ ! -z $1 ]; then\
      git checkout -b $1;\
      git commit --allow-empty -m $1;\
      git push -u origin $1;\
    fi;\
    \
    git remote show origin | grep 'github' \
      && gh pr create -d -B ${BASE_BRANCH} -H ${NEW_BRANCH} \
      || hub pull-request --draft -b $BASE_BRANCH; \
    \
  }; f"
# 作業終了後、作成したPRを表示する
  # hub browse して画面上でPRをクリックする。
# Merge後、ローカルとリモートブランチをあわせる
  refresh = !"f () { \
    DEFAULT_BRANCH=`git remote show origin | grep 'HEAD branch' | awk '{print $NF}'`; \
    git checkout $DEFAULT_BRANCH; \
    git pull -p; \
    echo "---Delete Merged Branch------------------------------"; \
    git delete-merged-branches; \
    echo "---Delete Gone Branch------------------------------"; \
    git delete-gone-branches; \
    echo "---Local Branch------------------------------"; \
    git branch -avv; \
  }; f"

[pull]
  ff = only
[color]
  ui = true
