.DS_Store
.config/.gitconfig.local
.git
.tags
.zsh/.zsh_history
.zsh/local.zsh
iterm/com.googlecode.iterm2.plist
.config/nvim/lazy-lock.json
.config/nvim/lua/config/local.lua
.config/nvim/lazyvim.json
