[core]
  editor = vi
[ghq]
  root = ~/.ghq
[user]
  name = Koji Sakamoto
  email = kowwwwji@gmail.com
[alias]
##################
# 基本コマンド
##################
  st = status
  cm = commit
  co = checkout
  b = branch 
  cb = checkout -b
  bv = branch -vv
  bva = branch -vva
  see = browse
  st = status
  ls = log --stat

##################
# 複合コマンド
##################
  delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  wip = !git add --all && git commit -m 'wip'
  base = !git show-branch | grep '*' | grep -v "$(git rev-parse --abbrev-ref HEAD)" | head -1 | awk -F'[]~^[]' '{print $2}'

# WIPブランチを作成してPRを作成する 
  start = !"f () {\
    NEW_BRANCH=$1;\
    \
    if [ -z $1  ]; then\
      echo 'Use Now branch as feature branch.';\
      BASE_BRANCH=`git base`;\
      NEW_BRANCH=`git rev-parse --abbrev-ref @`;\
    else\
      BASE_BRANCH=`git rev-parse --abbrev-ref @`;\
    fi;\
    \
    if [ $BASE_BRANCH = 'master' ]; then echo 'Attention!! you are trying to make branch from master'; fi;\
    read -p 'You want to make Base Branch:'$BASE_BRANCH' -> New Branch:'$NEW_BRANCH'? (y/n)  ' yn;\
    case $yn in\
      [yY]* ) echo 'OK! Lets Start!!';;\
      * ) exit 1;;\
    esac;\
    git checkout -b $1;\
    git commit --allow-empty -m $1;\
    git push -u origin $1;\
    hub pull-request --draft -b $BASE_BRANCH;\
  }; f"
# 作業終了後、作成したPRを表示する
  # hub browse して画面上でPRをクリックする。
# Merge後、ローカルとリモートブランチをあわせる
  refresh = !"f () { \
    git checkout master; \
    git pull -p; \
    git delete-merged-branches; \
    git branch -avv; \
  }; f"

[merge]
  ff = false
[pull]
  ff = only
[color]
  ui = true
